.select--custom {
  position: relative;
  width: 100px;
  height: 25px;
  background-color: var(--color__gray);
  padding: 0 0.5rem 0 1rem;
  box-sizing: border-box;
}
.select--custom .select__selected-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select--custom img {
  transform: rotate(90deg);
  transition: transform 250ms ease;
  width: 20px;
  height: 20px;
}
.select--custom option {
  display: none;
}

.select--open .select__selected-container {
  opacity: 0.5;
}
.select--open img {
  transform: rotate(-90deg);
  transition: transform 250ms ease;
}
.select--open menu {
  position: absolute;
  padding-inline-start: 0;
  margin-block: 0;
  list-style-type: none;
  left: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--color__black);
  max-height: calc(30px * 5);
  overflow-y: scroll;
}
.select--open option {
  display: block; 
  padding: 0 0.5rem 0 1rem;
  background-color: var(--color__gray);
}
.select--open option:checked {
  background-color: var(--color__purple);
  color: var(--color__white);
}
.select--open option:hover {
  filter: contrast(70%);
}
.select--open ::-webkit-scrollbar {
  width: 8px;
}
.select--open ::-webkit-scrollbar-track {
  background-color: var(--color__gray--dark);
}
.select--open ::-webkit-scrollbar-thumb {
  background-color: var(--color__purple--dark);
  border-radius: 5px;
}
.select__underlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}