.header__breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 0 1rem;
  margin: 1rem 0;
}
.breadcrumbs__home {
  width: 25px;
  height: 25px;
}
.breadcrumbs__home img {
  width: 25px;
  height: 25px;
}
.breadcrumb a {
  color: var(--color__black);
  text-decoration: none;
}
.breadcrumb::before {
  content: url("data:image/svg+xml;utf8,<svg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M15.4479 11.7604L11.0313 7.34375C10.9344 7.24612 10.8192 7.16862 10.6923 7.11574C10.5653 7.06286 10.4292 7.03563 10.2917 7.03563C10.1542 7.03563 10.018 7.06286 9.89107 7.11574C9.76413 7.16862 9.64892 7.24612 9.55208 7.34375C9.35807 7.53892 9.24918 7.80293 9.24918 8.07813C9.24918 8.35332 9.35807 8.61733 9.55208 8.8125L13.2396 12.5L9.55208 16.1875C9.35807 16.3827 9.24918 16.6467 9.24918 16.9219C9.24918 17.1971 9.35807 17.4611 9.55208 17.6563C9.64942 17.7528 9.76485 17.8292 9.89177 17.881C10.0187 17.9329 10.1546 17.9591 10.2917 17.9583C10.4288 17.9591 10.5647 17.9329 10.6916 17.881C10.8185 17.8292 10.9339 17.7528 11.0313 17.6563L15.4479 13.2396C15.5456 13.1427 15.623 13.0275 15.6759 12.9006C15.7288 12.7737 15.756 12.6375 15.756 12.5C15.756 12.3625 15.7288 12.2263 15.6759 12.0994C15.623 11.9725 15.5456 11.8573 15.4479 11.7604Z' fill='gray'/></svg>");
  margin: 0 8px;
  display: inline-flex;
  transform: translateY(5px);
}
.breadcrumb--last a {
  font-weight: 700;
  color: var(--color__purple--dark);
}