.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem 1rem 0 1rem;
  box-sizing: border-box;
}

.header__logo,
.header__logo__img {
  width: 100px;
}

.navigation--horizontal ul {
  display: flex;
  justify-content: space-between;
  width: 63vw;
}
.navigation--horizontal a {
  color: var(--color__black);
  letter-spacing: -0.05rem;
}
.navigation--horizontal a:active {
  background-color: var(--color__purple);
  color: var(--color__white);
}

.header__top button {
  background-color: transparent;
  width: 25px;
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}
.buttons__account {
  margin: 0 1rem 0 0;
}
.buttons__cart::after {
  content: attr(data-items);
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: var(--color__purple);
  border-radius: 50%;
  font-size: 12px;
  color: var(--color__white);
}
.modal--menu,
.mobile__hamburger {
  display: none;
}

@media only screen and (max-width: 767px) {
  .navigation--horizontal,
  .buttons__account {
    display: none;
  }
  .header__logo,
  .header__logo__img {
    width: 50px;
  }
  .modal--menu {
    display: block;
  }
  .mobile__hamburger {
    display: inline-block;
    margin: 0 0 0 1rem;
  }
  .mobile__menu {
    margin: 0;
    border: none;
    position: absolute;
    top: 0;
    left: 33vw;
    width: 67vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color__purple--dark);
    box-sizing: border-box;
    z-index: 1;
  }
  .mobile__menu a {
    text-decoration: none;
    color: var(--color__white);
    font-size: 1.563rem;
    font-family: var(--font__primary);
    letter-spacing: -0.05rem;
    text-transform: uppercase;
  }
  .menu__account {
    display: block;
    margin: 0 0 1rem 0;
  }
  .modal--menu .menu__x {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
  } 
  .menu__underlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
  }
}

@media only screen and (min-width: 1023px) {
  .navigation--horizontal ul {
    width: 650px;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    width: 1024px;
    margin: 0 auto;
  }
  .header__top {
    width: 1024px;
  }
}