.footer {
  width: 100vw;
  background-color: var(--color__purple--dark);
  padding: 1rem;
  box-sizing: border-box;
}

.footer h6 {
  font-size: 1.563rem;
  color: var(--color__purple--light);
  text-decoration: underline;
  margin: 0 0 0.5rem 0;
}

.footer__logo {
  margin: 0 auto;
  width: 100px;
}
.footer__logo__img {
  width: 100px;
}

.footer__sitemap {
  display: flex;
  justify-content: space-between;
  padding: 0 0 50px 0;
}
.footer__sitemap section h6 {
  text-align: left;
}
.footer__sitemap section ul li a {
  color: var(--color__white);
}
.footer__sitemap section ul li a:active {
  color: var(--color__black);
}

.footer__chat {
  margin: 2rem 0;
  text-align: center;
}
.footer__chat h6 {
  margin: 0 0 1rem 0;
}
.footer__chat p {
  max-width: 100ch;
  margin: 0 auto;
  color: var(--color__white);
  padding: 0;
  margin: 0 0 2rem 0;
}

.footer__social {
  display: flex;
  justify-content: space-between;
}
.footer__social span {
  color: var(--color__white);
}
.footer__social .social__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.social__wrapper a {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .footer__sitemap {
    max-width: 255px;
    margin: 0 auto;
  }
  .footer__chat {
    margin: 0 0 50px 0;
  }
  .footer__chat h6 {
    text-align: center;
  }
  .footer__social {
    flex-direction: column;
    align-items: center;
    height: 75px;
  }
  .social__copy {
    order: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__container {
    display: grid;
    grid-template-areas:  
      "top" 
      "middle" 
      "bottom";
  }
  .footer__logo { 
    grid-area: top; 
    width: 200px;
  }
  .footer__logo__img {
    width: 200px;
  }
  .footer__chat { 
    grid-area: middle; 
    width: 325px;
    margin: 0 0 0 auto;
  }
  .footer__sitemap { 
    grid-area: middle; 
    width: 255px;
    margin: 0 auto 0 0;
  }
  .footer__social { 
    grid-area: bottom; 
  }
}

@media only screen and (min-width: 1024px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
  }
  .footer__logo {
    width: 200px;
    margin: auto 0;
    /* horizontally center img since text blends with bg */
    transform: translateY(35px);  
  }
  .footer__logo__img {
    width: 200px;
  }
  .footer__sitemap {
    width: 255px;
    padding: 2rem 0;
  }
  .footer__chat {
    width: 325px;
    margin: 2rem 100px 2rem 0;
  }
  .footer__social {
    width: 100%;
  }
}